* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
}

footer{
  height: 5vh;
  width: 100vw;
  padding: 10px;
  background-color: #000000;
  color: #d18876;
  text-align: center;
}

.boxes {
  display: flex;
  background-color: #212529;
  width: 100%;
  justify-content: space-between;
}

.ht{
  text-align: center;
  color: #d18876;
  margin: 2%;
}

.cs{
  text-align: center;
  color: #d18876;
  margin: 2%;
}

.js{
  text-align: center;
  color: #fae6c2;
  margin: 2%;
}

iframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #212529;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.editor-container .CodeMirror {
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.editor-header {
  padding:0px 2px 0px 10px;
}

.button-container {
  border-bottom: 1px solid #212529;
  padding: 10px;
  background-color: #212529;
  display: flex;
}

.buttonR {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonR:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-buttonR 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-buttonR {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttonR:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.buttonC {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonC:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-buttonC 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-buttonC {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttonC:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}



.button-container>button {
  margin-right: 15px;
}

@media screen and (max-width: 900px) {
  .boxes {
    flex-direction: column;
  }

  .cm-s-monokai.CodeMirror {
    max-height: 200px;
  }
}

